

<h1 *forScreen="'mobile'" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
<p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur libero sapien, interdum ac aliquam non, faucibus id nunc. Nam id aliquam ex. Fusce nulla felis, pulvinar vitae ipsum eget, luctus rhoncus ipsum. Cras sed tellus quis augue feugiat egestas quis vitae ipsum. Aenean volutpat luctus sem et accumsan. Morbi dapibus sollicitudin dapibus. Donec finibus posuere ex, cursus dapibus odio egestas sed. Nulla condimentum, mi id laoreet tincidunt, tellus urna gravida sem, eu auctor velit tortor ac orci.</p>

<app-showing-author></app-showing-author>
<hr>

<h2>User Delivery Form</h2>

<form [formGroup]="userDeliveryForm" (submit)="onSubmit()">

    <div class="form-group">
      <app-input
      [label]="'name'"
      [inputType]="'text'"
      [inputClass]="'form-control'"
      [placeholder]="'putt you\'r name here'"
      [inputName]="'name'"></app-input>
    </div>
    <div class="form-group">
        <label>phone</label>
        <input type="phone"  class="form-control" formControlName="phone"> 
    </div>

    <app-contact-form-components 
       [parentForm]="userDeliveryForm"></app-contact-form-components>

    <div class="form-group">
        <label>Confirm Pass</label>
        <input type="phone"  class="form-control" formControlName="confirmPass"> 
    </div>

    <button>Submit</button>

</form>
