<h1>Registration form</h1>

<section>
  <form 
  class="col-8 m-auto"
  [formGroup]="registrationForm" 
  (ngSubmit)="onSubmit()">


  <div class="form-group">
    <app-input 
      [label]="'Name'"
      [labelPosition]="labelPosition.Left"
      [inputType]="'text'" 
      [inputClass]="'form-control'" 
      [placeholder]="'put you\'r name here'"
      [inputName]="'name'"></app-input>

    <div *ngIf="registrationForm.get('name').invalid && (registrationForm.get('name').dirty || registrationForm.get('name').touched)"
         class="alert alert-danger">
         <app-validation-errors [errors]="registrationForm.get('name').errors" ></app-validation-errors> 
  </div>
</div>




  

    <div class="form-group">
      <app-input 
        [label]="'Email'" 
        [labelPosition]="labelPosition.Left" 
        [inputType]="'text'" 
        [inputClass]="'form-control'"
        [placeholder]="'put email name'" 
        [inputName]="'email'"></app-input>

      <div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched" class="alert alert-danger">
        <app-validation-errors [errors]="registrationForm.get('email').errors " ></app-validation-errors> 
      </div>
    </div>

    
    <div class="form-group">
      <ng-select
      class="country-select"
      hideSelected="true"
      formControlName="countrySelect"
      [items]="countries"
      [searchable]="false"
      [clearable]="false">

      <ng-template ng-label-tmp let-item="item">
        {{ item | uppercase }}
      </ng-template>

      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        {{ item | uppercase}}
      </ng-template>

    </ng-select>

    <div *ngIf="registrationForm.get('countrySelect').invalid && registrationForm.get('countrySelect').touched" class="alert alert-danger" >
      <app-validation-errors [errors]="registrationForm.get('countrySelect').errors " ></app-validation-errors> 
    </div>
    </div>

   
    <div class="form-group" *ngIf="showAreas">
      <ng-select
      class="country-select"
      hideSelected="true"
      formControlName="areaSelect"
      [items]="areas"
      [searchable]="false"
      [clearable]="false">
      <ng-template ng-label-tmp let-item="item">
        {{ item  }}
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <span>{{ item  }}</span>
      </ng-template>
    </ng-select>
    </div>
    
  
    <div class="form-group">
      <app-input 
        [label]="'Password'" 
        [labelPosition]="labelPosition.Left" 
        [inputType]="'password'" 
        [inputClass]="'form-control'"
        [placeholder]="'password'" 
        [inputName]="'password'"></app-input>

      <div *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched" class="alert alert-danger">
        <app-validation-errors [errors]="registrationForm.get('password').errors "></app-validation-errors> 
      </div>
    </div>

    
    <div class="form-group">
      <app-input 
        [label]="'Confirm password'" 
        [inputType]="'password'"
        [inputClass]="'form-control'" 
        [placeholder]="'confirm password'" 
        [inputName]="'confirmPass'"></app-input>

      <div *ngIf="registrationForm.get('confirmPass').invalid && registrationForm.get('confirmPass').touched" class="alert alert-danger">
        <app-validation-errors [errors]="registrationForm.get('confirmPass').errors " ></app-validation-errors> 
      </div>
      <div *ngIf="registrationForm.get('confirmPass').valid && registrationForm.get('password').value !== registrationForm.get('confirmPass').value" class="alert alert-danger">Password and Confirm Password must be match.</div>
    </div>
    
      
    <button 
    class="btn btn-success" 
    type="submit"
    >Submit</button>

  </form>

</section>
