<p>dynamic-form works!</p>


<form [formGroup]="demoForm">
 
  <app-input 
    [label]="'check/uncheck all'" 
    [labelPosition]="labelPosition.Left" 
    [inputType]="'checkbox'" 
    [inputClass]="'toggle'"
    [inputName]="'toggle'"></app-input>

  <div formArrayName="checkboxes" >

    <div *ngFor="let arrayItem of checkboxes; let i=index" >

      <label  
      class="array-item-title">{{arrayItem.title}}

        <input 
        type="checkbox" 
        [formControlName]="i">
      </label>

      
    </div>
      
  
  </div>

</form>



